[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3"


[packages]

catkin-tools = "*"
catkin-tools-fetch = "*"
trollius = "*"
empy = "*"


[scripts]

catkin_build = "catkin build -v"
